%h2 Kid Details
.col-lg8.col-md-8.col-sm-8.col-sm-offset-2.col-md-offset-2.col-lg-offset-2
  .kid
    =@kid.name
  .age
    =@kid.age
  .gender
    =@kid.gender
  .comments
    =@kid.comments
  .family_id
    =@kid.family_id  
