= form_for(@family) do |f|

  .panel.form_group
    = f.label :name
    = f.text_field :name, class: "form-control"

  / = f.fields_for :kids do |i|
    
  /   .form-inline
  /     = i.label :name
  /     = i.text_field :name

  /     = i.label :age
  /     = i.number_field :age

  /     = i.label :gender
  /     = i.text_field :gender
  %br
  %br
  = f.submit 'Save', class: "btn bt-default"
  %br
  %br