/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap';

h1, .h1 {
	width: 50%;
	float: left;
	text-shadow: 1px 2px 2px #79B474;
}

h2 { 
	text-align:center;  
	text-shadow: 1px 2px 2px #79B474;
}

.btn { width:100%; }

.navbar-nav {
	margin-top: 20px;
	margin-bottom: 10px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
	color:#79B474;
}

.rate { 
	text-align:center;
	margin-top:0.5em;
}

.green-border {
	border:solid 1px #79b474;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright:8px;
	-moz-border-radius-bottomleft:8px;
	-moz-border-radius-bottomright:8px;
	-webkit-border-top-left-radius:8px;
	-webkit-border-top-right-radius:8px;
	-webkit-border-bottom-left-radius:8px;
	-webkit-border-bottom-right-radius:8px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
	padding:1em;
	background-color: rgba(0, 0, 5, 0.1);
	background: rgba(0, 0, 5, 0.1);
	color: rgba(0, 0, 0, 1.0);
}

a.btn.btn-default.green {
	background-color: rgba(128, 207, 128, 0.5);
	background: rgba(128, 207, 128, 0.5);
	color: #000;
	transition:All 0.5s ease;
	-webkit-transition:All 0.5s ease;
	-moz-transition:All 0.5s ease;
	-o-transition:All 0.5s ease;
	transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
	-webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
	-moz-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
	-o-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
	-ms-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
}
a.btn.btn-default.green:hover{
	transform: rotate(4deg) scale(1.0) skew(0deg) translate(0px);
	-webkit-transform: rotate(4deg) scale(1.0) skew(0deg) translate(0px);
	-moz-transform: rotate(4deg) scale(1.0) skew(0deg) translate(0px);
	-o-transform: rotate(4deg) scale(1.0) skew(0deg) translate(0px);
	-ms-transform: rotate(4deg) scale(1.0) skew(0deg) translate(0px);
}

.custom_title {
	text-shadow: 1px 2px 2px #79B474;
	margin-top: 8px;
}

.search_button {
	border: 1px solid #CCCCCC;
	width: 200px;
	background-color: rgba(128, 207, 128, 0.5);
	background: rgba(128, 207, 128, 0.5);
	color: #000;
}

.search_button:hover {
	transform: rotate(4deg) scale(1.0) skew(0deg) translate(0px);
	-webkit-transform: rotate(4deg) scale(1.0) skew(0deg) translate(0px);
	-moz-transform: rotate(4deg) scale(1.0) skew(0deg) translate(0px);
	-o-transform: rotate(4deg) scale(1.0) skew(0deg) translate(0px);
	-ms-transform: rotate(4deg) scale(1.0) skew(0deg) translate(0px);
}

.make_green {
	color: #79b474;
	
}

.navbar_nav {
	padding-bottom: 20px;
}

.pad_me {
	margin-right: 30px;
}

.first_pad {
	margin-left:15px;
}